{% extends "base.html" %}

{% block title %}
Look Through Charities
{% endblock %}

{% block content %}
    <section>
        <h1>Don't Know Where to Get Started?</h1>
        <h2>Here are charities to browse through:</h2>
        {% for category, ch_list in charity_dict.items() %}
            {% for charity_name, link in ch_list.items() %}
                <ul><a href="{{'http://' + link}}">{{charity_name}}</a></ul>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}