{% extends "base.html" %}

{% block title %}
Welcome to Charity Finder!
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Charity Finder helps you find the right causes to support based on what you are passionate about.</p>
        </header>
        <section>
            <h2>Don't Know Where to Start?</h2>
            <p>Click on the "Browse Charities" tab and look through the selection of amazing charities that are ready and willing to accept your support.</p>
        </section>
        <section>
            <h2>Ready to Search?</h2>
            <p>Click on the "Search by Interest" tab and follow the steps. It will lead you to the information and the charities that are best for you!</p>
        </section>
        <section>
            <h2>Want to Know More?</h2>
            <p>Click on the "More Information" tab and ready about what this website is for and how you can use it to make the world a better place!</p>
        </section>
    </article>
{% endblock %}