{% extends "base.html" %}

{% block title %}
Welcome to Charity Finder!
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Charity Finder helps you find the right causes to support based on what you are passionate about.</p>
        </header>
        <section>
            <h2>article section h2</h2>
            <p>Random stuff</p>
        </section>
        <section>
            <h2>article section h2</h2>
            <p>Random stuff</p>
        </section>
    </article>
{% endblock %}