{% extends "base.html" %}

{% block title %}
More About Charity Finder
{% endblock %}

{% block content %}
    <section>
        <h1>This is Why We Are Here!</h1>
        <p>Often people refrain from donating or supporting charitable causes, not because of selfishness, but because they simply do not know where to start or what to support. This is why Charity Finder is here to help you take something that you are interested in, for example, animals, and turn it into a way for you to make the world a better place! Thanks to people like you, all of these charities will receive all of the support and help that they need.</p>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}